body{
  margin:0px;
  padding:0px;
}
h1{
  margin:0px;
  padding:0px;
color:white;
background-color:blue;
}
p{
  margin:0px;
  padding:0px;
color:black;
background-color:white;
}

.box{
color:green;
background-color:blue;
border: solid red 5px;
border-radius:15px;
width:fit-content;
padding:3px;
}
